html{
    background-color: green;
}
  
  p{
  color: white;
  font-size: 18pt;
}
.Entrada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Foto1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Foto2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Foto3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Foto4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Foto5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Foto6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Foto7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Foto8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

a:hover{color: lightgreen;}

.c {
  position: absolute;
  right: 1%;
}
#titulo {
  position: absolute;
  left: 47%;
  top: 5%;
  color: blue;
}